PORT=8090
FIDELIUS_ENGINE_URL=http://127.0.0.1:8091
MEDIQLIQ_SERVICE_TOKEN=REPLACE_WITH_OPENSSL_RAND_BASE64_48
# 32 random bytes, base64 encoded. Store in KMS/secret manager.
KEY_HANDLE_SECRET_BASE64=REPLACE_WITH_OPENSSL_RAND_BASE64_32
KEY_HANDLE_VERSION=v1
KEY_TTL_SECONDS=1800
MAX_BODY_BYTES=26214400
ENGINE_TIMEOUT_MS=15000
